@media screen and (max-width: 1100px) {
    .fields {
        font-size: 18px;
    }
}
@media screen and (max-width: 1120px) and (min-width: 1101px) {
    .fields {
        font-size: 18.4px;
    }
}
@media screen and (max-width: 1140px) and (min-width: 1121px) {
    .fields {
        font-size: 18.8px;
    }
}
@media screen and (max-width: 1160px) and (min-width: 1141px) {
    .fields {
        font-size: 19.2px;
    }
}
@media screen and (max-width: 1180px) and (min-width: 1161px) {
    .fields {
        font-size: 19.6px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 1181px) {
    .fields {
        font-size: 20px;
    }
}
@media screen and (max-width: 1220px) and (min-width: 1201px) {
    .fields {
        font-size: 20.4px;
    }
}
@media screen and (max-width: 1240px) and (min-width: 1221px) {
    .fields {
        font-size: 20.8px;
    }
}
@media screen and (max-width: 1260px) and (min-width: 1241px) {
    .fields {
        font-size: 21.2px;
    }
}
@media screen and (max-width: 1280px) and (min-width: 1261px) {
    .fields {
        font-size: 21.6px;
    }
}
@media screen and (max-width: 1300px) and (min-width: 1281px) {
    .fields {
        font-size: 22px;
    }
}
@media screen and (max-width: 1320px) and (min-width: 1301px) {
    .fields {
        font-size: 22.4px;
    }
}
@media screen and (max-width: 1340px) and (min-width: 1321px) {
    .fields {
        font-size: 22.8px;
    }
}
@media screen and (max-width: 1360px) and (min-width: 1341px) {
    .fields {
        font-size: 23.2px;
    }
}
@media screen and (max-width: 1380px) and (min-width: 1361px) {
    .fields {
        font-size: 23.6px;
    }
}
@media screen and (max-width: 1400px) and (min-width: 1381px) {
    .fields {
        font-size: 24px;
    }
}
@media screen and (max-width: 1420px) and (min-width: 1401px) {
    .fields {
        font-size: 24.4px;
    }
}
@media screen and (max-width: 1440px) and (min-width: 1421px) {
    .fields {
        font-size: 24.8px;
    }
}
@media screen and (max-width: 1460px) and (min-width: 1441px) {
    .fields {
        font-size: 25.2px;
    }
}
@media screen and (max-width: 1480px) and (min-width: 1461px) {
    .fields {
        font-size: 25.6px;
    }
}
@media screen and (max-width: 1500px) and (min-width: 1481px) {
    .fields {
        font-size: 26px;
    }
}
@media screen and (max-width: 1520px) and (min-width: 1501px) {
    .fields {
        font-size: 26.4px;
    }
}
@media screen and (max-width: 1540px) and (min-width: 1521px) {
    .fields {
        font-size: 26.8px;
    }
}
@media screen and (max-width: 1560px) and (min-width: 1541px) {
    .fields {
        font-size: 27.2px;
    }
}
@media screen and (max-width: 1580px) and (min-width: 1561px) {
    .fields {
        font-size: 27.6px;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1581px) {
    .fields {
        font-size: 28px;
    }
}
@media screen and (max-width: 1620px) and (min-width: 1601px) {
    .fields {
        font-size: 28.4px;
    }
}
@media screen and (max-width: 1640px) and (min-width: 1621px) {
    .fields {
        font-size: 28.8px;
    }
}
@media screen and (max-width: 1660px) and (min-width: 1641px) {
    .fields {
        font-size: 29.2px;
    }
}
@media screen and (max-width: 1680px) and (min-width: 1661px) {
    .fields {
        font-size: 29.6px;
    }
}
@media screen and (max-width: 1700px) and (min-width: 1681px) {
    .fields {
        font-size: 30px;
    }
}
@media screen and (max-width: 1720px) and (min-width: 1701px) {
    .fields {
        font-size: 30.4px;
    }
}
@media screen and (max-width: 1740px) and (min-width: 1721px) {
    .fields {
        font-size: 30.8px;
    }
}
@media screen and (max-width: 1760px) and (min-width: 1741px) {
    .fields {
        font-size: 31.2px;
    }
}
@media screen and (max-width: 1780px) and (min-width: 1761px) {
    .fields {
        font-size: 31.6px;
    }
}
@media screen and (max-width: 1800px) and (min-width: 1781px) {
    .fields {
        font-size: 32px;
    }
}
@media screen and (max-width: 1820px) and (min-width: 1801px) {
    .fields {
        font-size: 32.4px;
    }
}
@media screen and (max-width: 1840px) and (min-width: 1821px) {
    .fields {
        font-size: 32.8px;
    }
}
@media screen and (max-width: 1860px) and (min-width: 1841px) {
    .fields {
        font-size: 33.2px;
    }
}
@media screen and (max-width: 1880px) and (min-width: 1861px) {
    .fields {
        font-size: 33.6px;
    }
}
@media screen and (max-width: 1900px) and (min-width: 1881px) {
    .fields {
        font-size: 34px;
    }
}